################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppAdvanced/Assignment 3/.vs/Assignment 3/v15/Browse.VC.opendb
/CppAdvanced/Assignment 3/.vs/Assignment 3/v15/ipch/AutoPCH/4049b1830af6232b
