################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/CppAdvanced/Assignment 3/.vs/Assignment 3/v15/Browse.VC.opendb
/CppAdvanced/Assignment 3/.vs/Assignment 3/v15/ipch/AutoPCH/4049b1830af6232b
/CppAdvanced/Assignment 4/.vs/Assignment 4/v15/Browse.VC.opendb
/CppAdvanced/Solutions/Assignment3/*
/CppAdvanced/Assignment 4/Debug/*

/CppAdvanced/Assignment 5/.vs/Assignment 5/v15
/CppAdvanced/Assignment 5/Debug
/CppAdvanced/Assignment 5/Assignment 5/Debug
